<!DOCTYPE html>
<html>
<head>
  <title> Welcome to Ansible</title>
</head>
<body>
  <h1> NGINX, configured by Ansible </h1>
  <p> If you can see this, Ansible successfully install nginx </p>
</body>
</html>