server {
  listen 80 default_server;
  listen [::]:80 default_server ipv6only=on;

  listen 443 ssl;

  root /usr/share/nginx/html;
  index index.html index.htm;

  server_name {{ server_name_no_www }};
  ssl_certificate {{ cert_file }};
  ssl_certificate_key {{ key_file }};

  location / {
    try_files $uri $uri/ = 404;
  }
}

server {
  server_name {{ server_name_www }};
  return 301 $scheme://{{ server_name_no_www }}$request_uri;
}